@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

    <header>
        <h1>.NET Boilerplate</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>

        @if (User.Identity.IsAuthenticated) {
            <a href="/Logout" class="login">Logout</a>
        }
        else {
            <a href="/Login" class="login">Login</a>
        }
    </nav>

    <div id="main">
        @RenderBody()
    </div>

    <footer>

    </footer>