@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

    <header>
        <h1>.NET Boilerplate</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>

    <div id="main">
        @RenderBody()
    </div>

    <footer>

    </footer>