@using DotnetMvcBoilerplate.Models

@{
    Layout = "~/Views/Shared/_Page.cshtml";
}

    <header class="site-header">
        <h1 class="site-title">.NET MVC Boilerplate</h1>

        <div class="version-background">&nbsp;</div>
        <div class="version-text">0.3</div>
    </header>

    <nav class="nav">
        <a href="/#" class="nav-option">Home</a>
        <a href="/#about" class="nav-option">About</a>
        <a href="/#contact" class="nav-option">Contact</a>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Authorised" class="nav-option">Authorised Area</a>
        }

        @if (User.Identity.IsAuthenticated) {
            <div class="nav-option--right">
                <strong>Logged in as </strong><a href="/Profile">@Session["LoggedInAs"]</a> <a href="/Logout">Logout</a>
            </div>
        }
        else
        {
            <a href="/Login" class="nav-option--right">Login</a>
        }
    </nav>

    <div class="main">
        @RenderBody()
    </div>

    <footer>

    </footer>
