<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>@ViewBag.Title</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet/less" href="css/less/master.less" />
    <link rel="stylesheet" href="css/style.css" />

	<script async src="/js/libs/modernizr-2.5.3.min.js"></script>
    <script src="/js/libs/less-1.3.0.min.js"></script>
</head>
<body>

    @RenderBody()
    
    <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>      window.jQuery || document.write('<script async src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="js/libs/jquery.form.js"></script>
    <script src="js/libs/jquery.validate.js"></script>
    <script src="js/libs/jquery.validate.unobtrusive.js"></script>
    <script src="js/mylibs/boilerplate.js"></script>
    <!-- end scripts -->
</body>
</html>