/**
*   ============================================================================
*    $TEXT
*   ============================================================================
*/

h1 {
    font-size: 6.5em;
    font-weight: 500;
}

h2 {
    color: $dark-color;
    font-size: 2.5em;
    margin: 10px 0;
}
