<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="1.6.1" />
  <package id="DataAnnotationsExtensions" version="1.0.1" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.0.1" />
  <package id="mongocsharpdriver" version="1.4.2" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Unity" version="2.0" />
  <package id="WebActivator" version="1.2.0.0" />
</packages>