@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h2>Admin Area</h2>

        <p><em>This page should only be visible to users that are logged in as an admin.</em></p>
        <p>Nam ornare, sem eu fringilla tempor, nulla massa imperdiet lectus, sit amet porttitor massa sem sed erat. Pellentesque nec tortor metus, sed dapibus orci. Mauris accumsan venenatis mi, quis fringilla nunc semper et. Vivamus bibendum, magna in fermentum elementum, magna dui faucibus nisi, ac suscipit dolor eros ac arcu. Praesent eget mi nec metus ullamcorper dignissim. Mauris convallis lobortis nisl, a feugiat sem posuere id. Aenean quis erat massa. Curabitur sodales dapibus tellus sed imperdiet.</p>
