@{
    ViewBag.Title = "Mongo isn't installed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h2>Mongo Isn't Installed</h2>

        <p>You currently don't have MongoDB installed as a Windows Service on your machine. DotnetMvcBoilerplate in its default form requires MongoDB in order to operate. </p>
