/*
*   ============================================================================
*    $CONTENTS
*   ============================================================================
*
*   CONTENTS..........
*   RESET.............Renders all elements consistently across all browsers.
*   VARS..............Defines variables to be used to configure appearance.
*/
/*
*   ============================================================================
*    $RESET
*   ============================================================================
*/
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/**
*   ============================================================================
*    $VARS
*   ============================================================================
*/
body {
  background: #f2f2f2;
  color: #373737;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%; }

h1 {
  font-size: 6.5em;
  font-weight: 500; }

h2 {
  color: #424344;
  font-size: 2.5em;
  margin: 10px 0; }

header {
  background: #373737;
  height: 215px;
  overflow: hidden;
  padding-left: 30px;
  position: relative; }
  header .title {
    display: table-cell;
    color: #fff;
    height: 215px;
    vertical-align: middle; }
    @media all and (max-width: 1200px) {
      header .title {
        font-size: 5em; } }
    @media all and (max-width: 800px) {
      header .title {
        font-size: 4em; } }
    @media all and (max-width: 500px) {
      header .title {
        font-size: 2em; } }
  header .version-bg {
    background: #0593bb;
    border-radius: 100px;
    height: 200px;
    position: absolute;
    right: -100px;
    top: -100px;
    width: 200px; }
  header .version {
    color: #fff;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 15px; }

html {
  height: 100%;
  min-height: 100%; }

.main {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 30px; }

nav {
  background: #0593bb;
  border-bottom: 1px solid #b1b1b1;
  font-size: 0.85em;
  line-height: 35px;
  padding-left: 30px;
  position: relative; }
  nav a {
    color: #fff;
    margin-right: 10px; }
    nav a:visited, nav a:link, nav a:hover {
      color: #fff; }
    nav a:hover {
      text-decoration: none; }
  nav .right-aligned-option {
    display: inline;
    padding-right: 30px;
    position: absolute;
    right: 0; }
    @media all and (max-width: 520px) {
      nav .right-aligned-option {
        display: inline-block;
        position: inherit; } }

.single-form-page {
  padding: 30px 0 0 0;
  position: relative; }
  .single-form-page form {
    background: #fafafa;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    font-size: 0.9em;
    margin: 0 auto;
    max-width: 300px;
    min-height: 144px;
    padding: 20px; }
    .single-form-page form .checkbox {
      float: left;
      height: 26px; }
      .single-form-page form .checkbox label, .single-form-page form .checkbox input[type="checkbox"] {
        float: left; }
      .single-form-page form .checkbox input[type="checkbox"] {
        margin-top: 7px; }
      .single-form-page form .checkbox label {
        line-height: 26px;
        margin-left: 5px; }
    .single-form-page form .field-validation-error, .single-form-page form .fail-feedback {
      background: #be2121;
      border-radius: 3px;
      color: #fafafa;
      display: block;
      font-size: 0.9em;
      margin: 2px 0 5px 0;
      padding: 7px; }
    .single-form-page form .generic-feedback {
      font-weight: bold;
      margin-bottom: 4px; }
    .single-form-page form .title {
      color: #0593bb; }
    .single-form-page form input, .single-form-page form label {
      display: block; }
    .single-form-page form input[type="text"], .single-form-page form input[type="password"] {
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      font-size: 1.1em;
      margin-bottom: 5px;
      padding: 5px;
      width: 286px; }
      .single-form-page form input[type="text"]:focus, .single-form-page form input[type="password"]:focus {
        border: 1px solid #0593bb;
        outline: none; }
    .single-form-page form input[type="submit"] {
      background: #0593bb;
      border: 0;
      border-radius: 2px;
      color: #fff;
      float: right;
      font-weight: bold;
      margin: 0;
      margin-top: 3px;
      min-width: 60px;
      padding: 5px; }
